ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul:first-child {
  margin-top: 20px;
  margin-left: 10px;
  max-height: 100vmax;
  overflow-y: scroll;
}

ul:first-child::-webkit-scrollbar {
  background: hsl(0, 0%, 19%);
}

ul:first-child::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 39%);
  border-radius: 10px;
}

ul li {
  margin-bottom: 10px;
}

li li {
  margin: 6px 10px 6px 20px;
}

.docs-tree-expanded-true > ul > li {
  display: block;
}

.docs-tree-expanded-false > ul > li {
  display: none;
}
