/*
TODO: Though this is minimal, it has the potential to break the styles of components showing up in content.
Please update if necessary or copy any global styles here.
*/

body {
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
}
