.docs-tree-caret {
  cursor: pointer;
  user-select: none;
}

.docs-tree-caret::before {
  content: '\25B6';
  font-size: 10px;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}

.is-expanded-false::before {
  transform: rotate(90deg);
}

.docs-tree-caret-false {
  margin-left: 14px;
}

.is-component {
  color: rgba(25, 135, 84, 1);
  display: inline-block;
  position: absolute;
  margin-left: 6px;
  margin-top: -8px;
  font-size: 1.85rem;
}
