.docs-content-header {
  padding: 1rem;
}

.docs-content-header a {
  color: rgba(0, 0, 0, 0.8);
  float: right;
}

.docs-content-body {
  padding: 1rem;
}

.docs-content-body pre {
  padding: 10px;
  background-color: #ccc;
  width: auto;
  border-radius: 4px;
}

hr {
  border-top-color: rgba(0, 0, 0, 0.35);
}
