/* Branding */
:root {
  --brand-theme: 0 0% 19%;
  --background-theme: hsl(0, 0%, 19%);
  --color-theme: hsl(0, 0%, 89%);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-theme: #e2e2e2;
    --color-theme: #303030;
  }
}

/* Layout */
.sidenav-container {
  background: var(--background-theme);
  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;
  min-block-size: 100vh;
}

.sidenav {
  --duration: 0.6s;
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  display: grid;
  grid-template-columns: [nav] 2fr [escape] 1fr;
}

.sidenav > nav {
  color: var(--color-theme);
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.contents {
  background-color: #ffffff;
}

.contents > header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

@media (max-width: 540px) {
  .sidenav-container > .sidenav,
  .sidenav-container > .contents {
    grid-area: stack;
  }
}

@media (max-width: 540px) {
  .sidenav {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    overscroll-behavior: contain;
    position: sticky;
    top: 0;
    transform: translateX(-110vw);
    transition: transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);
    visibility: hidden;
    will-change: transform;
  }

  .sidenav.expanded {
    transform: translateX(0) !important;
    transition: transform var(--duration) var(--easeOutExpo) !important;
    visibility: visible !important;
  }

  .sidenav > nav {
    background-color: var(--background-theme);
    box-shadow: 5px 0 40px rgba(0, 0, 0, 0.45);
  }
}

@media (prefers-reduced-motion: reduce) {
  .sidenav {
    --duration: 1ms;
  }
}

/* Buttons */
.sidenav-open,
.sidenav-close {
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
}

.sidenav-open {
  --size: 4rem;
  align-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid transparent;
  box-sizing: border-box;
  display: flex;
  inline-size: var(--size);
  justify-content: center;
  outline: none;
  padding: 1rem;
  place-content: center;
  transition: border-color 0.25s ease, background-color 0.25s ease;
}

.sidenav-open:hover {
  border-color: hsl(var(--brand-theme) / 50%);
}

.sidenav-open:focus {
  border-color: hsl(var(--brand-theme) / 12%);
  background: hsl(var(--brand-theme) / 10%);
}

.sidenav-open:hover svg > line {
  stroke: hsl(var(--brand-theme));
}

.sidenav-open:active {
  background: hsl(var(--brand-theme) / 20%);
}

.sidenav-open > svg {
  width: 100%;
}

.sidenav-open > svg > line {
  stroke: var(--background-theme);
  stroke-width: 7px;
  transition: stroke 0.25s ease;
}

.sidenav-close > svg {
  fill: var(--color-theme);
  height: 20px;
  width: 20px;
}

.sidenav > .sidenav-close {
  outline-offset: -1px;
  outline: 1px solid transparent;
  position: relative;
  top: 12px;
  left: -70px;
  background: transparent;
  border: none;
  height: 20px;
  width: 20px;
  padding: 0;
}

.sidenav > .sidenav-close:hover > svg {
  fill: hsl(0, 0%, 70%);
}

@media (min-width: 540px) {
  .sidenav-open,
  .sidenav-close {
    display: none;
  }
}
